#image{
	width: 100%;
	height: 600px;
	background-image: url('../output/mosaic/0/0/0.png');
	background-repeat: no-repeat;
}

#TL,#TR,#BL,#BR{
	width: 49.5%;
	height: 49.5%;
	display: inline-block;
}

#TL:hover,#TR:hover,#BL:hover,#BR:hover{
	opacity:0.1;
	background-color: black;
}

#zoom_out_button{
	position: absolute;
	top:10px;
	left: 10px;
	z-index: 10;
}

#reset_button{
	position: absolute;
	top:10px;
	left: 80px;
	z-index: 10;
}